/* Link da tipografia da página */
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

/* Reseta margens, espaçamentos e bordas de todos os elementos */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Estilos gerais do corpo da página */
body {
    font-family: 'Arial', sans-serif; /* Define a fonte padrão */
    background-color: #f0f2f5; /* Cor de fundo da página */
    color: #333; /* Cor do texto */
    position: relative;
    height: 100vh; /* Altura total da viewport */
}

/*-----------------------------------------------------------------------------------------------------------------------------------------------*/
/*-----------------------------------------------------------------------------------------------------------------------------------------------*/
/*-----------------------------------------------------------------------------------------------------------------------------------------------*/

/*-----------------------------------------------------------------------------------------------------------------------------------------------*/

/*Aqui começa o Header*/

/*Colocamos o grid no header da pagina principal junto com uma cor de fundo, tambem adicionamos uma altura parea o header e colocamos os elementos separados*/
.header-principal {
    grid-area: cabe;
    width: auto;
    height: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 99;
    background-color: #343a40;
}

/*Colocamos isso para o elemento não aparecer no site */
#chk1 {
    display: none;
}

/*Colocamos uma cor nos icones e um cursor pointer para quando ficar em cima aparecer uma mão para clicar*/
i {
    color: #fff;
    cursor: pointer;
}

/* Modificação de tamanho da logo */
.logo {
    height: 50px;
    width: auto;
}

.modifica {
    align-items: center;
    display: flex;
    justify-content: flex-start;
    padding: 10px 20px;
}

/* Tamanho do título */
header h1 {
    flex: 1;
    color: #fff;
    margin-left: 2rem;
    font-size: 1.3rem;
}

/*Colocamos uma distancia do elemento em relasção ao topo junto com um espaçamento dos elementos e deixamos o elemento flexivel*/
.header-principal ul {
    flex: 2;
    display: flex;
    justify-content: space-evenly;
    margin-top: 25px;
}

/*Colocamos iso para nao aparecer a bolinha do Ul*/
.header-principal ul li {
    list-style: none;
}

/*Colocamos uma cor nas palavras junto com um tamanho de letra definida também tiramos o sublinafo que tem nos links com uma distancia da esquerda e direita e cima baixo */
.header-principal ul li a {
    text-decoration: none;
    color: #fff;
    font-size: 20px;
    padding-block: 5px;
    transition: all 1s ease;
    padding: 10px 15px;
}

/*Colocamos uma cor nas palavras*/
.header-principal ul li a:hover {
    color: #fff;
}

/*Colocamos o elemento como se fosse um bloco junto com uma cor de fundo também arrendondamos as bordas junto com uma transição*/
.header-principal ul li a::after {
    content: "";
    display: block;
    width: 0;
    height: 4px;
    border-radius: 200px;
    background: #fff;
    transition: all 1s ease;
}

/*Colocamos uma largura no elemento*/
.header-principal ul li a:hover::after {
    width: 80%;
}

/*Colocamos um tamanho de letra definida junto com um display none que faz com que o elemento desapareça do site*/
header .menu {
    font-size: 2.5em;
    display: none;
}

/*-----------------------------------------------------------------------------------------------------------------------------------------------*/
/*-----------------------------------------------------------------------------------------------------------------------------------------------*/
/*-----------------------------------------------------------------------------------------------------------------------------------------------*/

/* Estilos do conteúdo principal */
main {
    max-width: 900px; /* Largura máxima */
    margin: 0 auto; /* Centraliza no meio */
    background-color: white; /* Fundo branco */
    padding: 20px; /* Espaçamento interno */
    border-radius: 8px; /* Borda arredondada */
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.1); /* Sombra leve */
}

/* Margem inferior para cada grupo do formulário */
.form-group {
    margin-bottom: 20px;
}

/* Estilos de rótulo do formulário */
label {
    display: block;
    margin-bottom: 8px;
    font-size: 16px;
    font-weight: bold;
}

/* Estilo do campo de entrada de texto */
input[type="text"] {
    width: 100%; /* Ocupa toda a largura */
    padding: 12px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 4px;
    margin-bottom: 10px;
}

/* Estilo do botão de consulta */
button {
    width: 100%; /* Ocupa toda a largura */
    padding: 12px;
    background-color: #343a40; /* Fundo escuro */
    color: white;
    border: none;
    border-radius: 4px;
    font-size: 16px;
    cursor: pointer; /* Muda o cursor ao passar */
    transition: background-color 0.3s ease; /* Efeito ao passar */
}

/* Estilo da tabela de resultados */
table {
    width: 100%; /* Largura total */
    border-collapse: collapse; /* Remove espaçamento entre bordas */
    margin-top: 20px;
    overflow-x: auto;
    text-align: center;
}

/* Estilos das células da tabela */
table th, table td {
    padding: 12px;
    text-align: center;
    border: 1px solid #ddd;
}

/* Cabeçalho da tabela com fundo claro */
table th {
    background-color: #f2f2f2;
    font-weight: bold;
}

/* Efeito de hover nas linhas da tabela */
table tbody tr:hover {
    background-color: #f9f9f9;
}

/* Estilização do rodapé */
footer {
    background-color: #343a40; /* Fundo escuro */
    color: #fff; /* Texto branco */
    text-align: center;
    padding: 20px;
    bottom: 0%;
    width: 100%; /* Largura total */
}

/*-----------------------------------------------------------------------------------------------------------------------------------------------*/
/*-----------------------------------------------------------------------------------------------------------------------------------------------*/
/*-----------------------------------------------------------------------------------------------------------------------------------------------*/

/*Media scren (1330 pixels)*/
@media only screen and (max-width: 1330px) {

    /*Colocamos o elemento em uma posição fixa com uma distancia do topo, também adicionamos uma cor de fundo, adicionamo uma largura e altura para o elemento junto com uma transição*/
    .header-principal ul {
        position: fixed;
        top: 102px;
        margin-top: 0;
        right: -100%;
        background: rgba(0, 0, 0, 0.5);
        flex-direction: column;
        align-items: center;
        transition: right 0.5s linear;
        width: 40%;
        height: calc(100vh - 100px);
    }

    .header-principal ul li a {
        text-decoration: none;
        text-align: center;
    }

    /*Colocamos o elemnto como se fosse um bloco junto com uma largura definida e um texto alinhado no centro*/
    header .menu {
        display: block;
        width: 100px;
        text-align: center;
        align-items: center;
    }

    /*Colocamos o elemento para ficar 0% para a direita*/
    #chk1:checked~ul {
        right: 0;
        font-size: 20px;
        text-align: center;
        align-items: center;
    }
}

/* Responsividade para tablets e celulares */
@media (max-width: 768px) {

    .header-principal ul li a {
        font-size: 75%;
        text-decoration: none;
        text-align: center;
    }

    /* Área de navegação do cabeçalho */
    header nav {
        flex-direction: column;
        text-align: center;
    }

    /* Título do cabeçalho */
    header h1 {
        margin-left: 0;
        font-size: 1.25rem;
    }

    /* Logo do C.C.M */
    .logo {
        height: 40px;
    }
}

/*-----------------------------------------------------------------------------------------------------------------------------------------------*/
/*-----------------------------------------------------------------------------------------------------------------------------------------------*/
/*-----------------------------------------------------------------------------------------------------------------------------------------------*/


/* Estilos específicos para telas muito pequenas */
@media screen and (max-width: 520px) {
    table {
        grid-template-columns: 1fr;
    }
}

@media (max-width: 480px) {

    /* Reduz o tamanho do texto do botão */
    button {
        font-size: 13px;
    }

    /* Reduz o tamanho do texto nos campos de entrada */
    input[type="text"] {
        font-size: 13px;
    }
}


/*-----------------------------------------------------------------------------------------------------------------------------------------------*/

.tabelas-responsivas {
    overflow-x: auto;
    width: 100%;
    box-sizing: border-box;
}

#resultadoConsulta {
    width: 100%;
    border-collapse: collapse;
}

#resultadoConsulta th,
#resultadoConsulta td {
    padding: 8px;
    text-align: left;
    font-size: 1em;
}

/* Modo de colunas empilhadas para telas menores */
@media (max-width: 768px) {
    #resultadoConsulta,
    #resultadoConsulta thead,
    #resultadoConsulta tbody,
    #resultadoConsulta th,
    #resultadoConsulta td,
    #resultadoConsulta tr {
        display: block;
        width: 100%;
    }

    #resultadoConsulta tr {
        margin-bottom: 15px;
    }

    #resultadoConsulta th {
        display: none; /* Esconde o cabeçalho das colunas */
    }

    #resultadoConsulta td {
        display: flex;
        justify-content: space-between;
        padding: 10px;
        border-bottom: 1px solid #ddd;
    }

    #resultadoConsulta td::before {
        content: attr(data-label); /* Exibe o rótulo da coluna */
        font-weight: bold;
        width: 50%;
    }
}

/* Definindo rótulos para cada coluna */
#resultadoConsulta td:nth-of-type(1)::before { content: "CGM"; }
#resultadoConsulta td:nth-of-type(2)::before { content: "Nome"; }
#resultadoConsulta td:nth-of-type(3)::before { content: "Turma"; }
#resultadoConsulta td:nth-of-type(4)::before { content: "Data de nascimento"; }
#resultadoConsulta td:nth-of-type(5)::before { content: "Telefone responsável"; }
#resultadoConsulta td:nth-of-type(6)::before { content: "Responsável Aluno"; }
#resultadoConsulta td:nth-of-type(7)::before { content: "Telefone"; }
